<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/027c1129-e686-4e6d-96cd-f5409d449c74/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/OtarioDeployeContainer</ResourceId>
    <ResourceName>OtarioDeployeContainer</ResourceName>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://otariodeployecontainer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>05a304e3-8999-4f13-b9fc-89d7ee69b190</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>